nav{
  background-color: #333;
}

#link,#link1{
  color: #f1f1f1;
  text-decoration: none;
  
}

ul{
  list-style: none;
  padding: 20px;
  float: right;
  display: flex;
  gap: 20px;
}

body{
  background-color:#f1f1f1;
}


body{
  background-image: url("../newAsserts/xv.jpg");
}

img{
  max-width: 100%;
}

.Post{
  padding: 10px;
 margin-bottom: 10px;
 background-color: white;
 margin: 2% 20%;
 border-radius: 10px;
}

@media screen and (max-width:800px){
  .Post{
    margin: 2% 10%;
    padding: 5px;
  }
}

@media screen and (max-width:600px){
  .Post{
    margin: 2% 5%;
    padding: 5px;
    margin-bottom: 15px;
    font-size: 10px;
  }

  .Post img{
    max-width: 70%;
    height: 50%;
  }
}

@media screen and (max-width:430px){
  .home h1{
    font-size:25px;
   
  }
  .content p{
    font-size: 10px;
  }

  .Post h3{
    font-size: 20px;
  }

  
}

.home h1{
  text-align: center;
}

/* .socials{
  background-color: #f1f1f1;;
} */

 footer {
  background-color: #333;
  color: #f1f1f1;
  text-align: center;
  padding: 5px;
 }

 .socials{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  cursor: pointer;
 }

 .footer-end p{
  font-size: 15px;
 }

.addFeature{
  display: flex;
  align-items: center;
  gap: 10px;
}

.profileIcon{
  width: 25px;
  height: 25px;
}

.images1, .Post h3{
  text-align: center;
}

#read-more{
  text-decoration: none;
  color: rgb(0, 68, 194);
}

#read-more img{
  width: 15px;
}

/* #facebook:hover{
  width: 40px;
} */

.icon{
  width: 30px;
  transition: all 0.2s ease-in-out;
}

.icon:hover{
  width:37px;
  transition: all 0.2s ease-in-out;
}