.form-cnp input{
    display: block;
    width: 98.3%;
    padding: 5px;
    font-family: 'Exo 2', sans-serif;
}

.createNewPost{
    background-color: white;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 10px;
    box-shadow: -7px 7px 10px rgba(0, 0, 0, 0.4) ;
}

.header1{
    text-align: center;
}

.form-cnp{
   padding: 20px;
}

.PostButton{
    text-align: center;
}

.PostButton button{
    padding: 10px;
    width: 100%;
    background-image: linear-gradient(to bottom left,  #4568dc, #b06ab3);
    border: 1px groove black;
    border-radius: 10px;
    font-family: 'Exo 2', sans-serif;
    cursor: pointer;
}

.PostButton button:hover{
    opacity: 0.8;
}

.summary{
    width: 98.7%;
}
