.signupForm img{
    height: 100vh;
    width: 60%;
    
}

.signupForm{
    display: flex;
}

.form{
    background-color:white;
    box-shadow: -7px 0px 10px rgba(0, 0, 0, 0.6) ;
    padding: 10%;
    text-align: center;
    background-image: url("../../newAsserts/gplaypattern.png");
}

.form input{
    width: 360px;
    padding: 10px;
    border-radius: 10px;
    border: 1px groove #f1f1f1 ;
    font-family: 'Exo 2', sans-serif;
}
.form button{
    width: 380px;
    padding: 10px;
    border-radius: 10px;
    background-image: linear-gradient(to bottom left,  #4568dc, #b06ab3);
    border: 2px outset #f1f1f1;
    font-family: 'Exo 2', sans-serif;
}

.form button:hover{
    opacity: 0.8;
}

#copy{
    color: inherit;
  }