.ViewPost{
    padding: 10px;
    margin: 5% 15%;
    background-color: white;
    border-radius: 10px;
    box-shadow: -7px 7px 10px rgba(0, 0, 0, 0.4) ;
}

.image-ViewPost, .title-ViewPost{
    text-align: center;
}

.blogContent-ViewPost{
    padding: 10px;
}

.author-ViewPost{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profileIcon-ViewPost{
    width: 60px;
}

.toolBar, .authorInfo{
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;

}

.toolBar img{
    width: 20px;
}

.postInfo{
    display: flex;
    align-items: center;
    gap: 15px;
}
